
*{margin: 0px; padding:0px;}
li{
	list-style: none;
}

body{
	background-color: #545b62;
	background: url(https://vignette.wikia.nocookie.net/swordartonline/images/5/50/Wiki-background/revision/latest?cb=20180117194027) ;
	background-attachment: fixed;
	cursor: url(http://ani4u.org/cus/curmiku6.png),url(http://ani4u.org/cus/curmiku6.png),auto;
}

a{
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-family: 'Montserrat Alternates',sans-serif;
}

li:hover{
	background: white;
}

li:hover>a{
	color: black;
}

a:hover{
	text-decoration: none;
}

.wrapper{
	width: 960px;
	height: 200px;
	background: #F8F8F8;
	margin: 0px auto;
	margin-top: 30px;
}

.clear{
	clear: both;
}

.search{
	padding: 0px 100px;
	margin-top: 10px;
}

/*.input{
	padding: 5px 5px;
	width: 300px;
	margin-top: 10px;
	margin-left: 120px;
	border: 2px solid #cc0000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.btnsearch{
	background: url(https://animetvn.tv/images/spotlight.png) left top no-repeat;
	border: none;
	cursor: pointer;
	font-size: 0;
	height: 32px;
	width: 32px;
	padding-top: 10px;
}*/

.menu input {
    outline: none;
}
.menu input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
.menu input::-webkit-search-decoration,
.menu input::-webkit-search-cancel-button {
    display: none; 
}
.menu input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 11px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 230px;
    background-color: #fff;
    border-color: #66CC75;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
/*.menu input[type=search]:focus {
    width: 230px;
    background-color: #fff;
    border-color: #66CC75;
    
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}*/

.menu a{
	margin-top :20px;
}

.menu input:-moz-placeholder {
    color: #999;
}
.menu input::-webkit-input-placeholder {
    color: #999;
}

#demo-2 input[type=search] {
    width: 300px;
    padding-left: 32px;
    color: transparent;
    color: #000;
    background-color: #fff;
    cursor: auto;
}
#demo-2 input[type=search]:hover {
    background-color: #fff;
}
/*#demo-2 input[type=search]:focus {
    width: 300px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}*/
#demo-2 input:-moz-placeholder {
    color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
    color: transparent;
}

.menu{
	background: black;
}

.item1{
	padding-top: 0px;
	background: #545b62;
}

.item{
	padding-top: 50px;
	background: #545b62;
}

.menu>ul>li{
	float: left;
	padding: 10px 50px;
	position: relative;
}

.menu>ul>li>a {
	text-decoration: none;
	color: white;
	font-family: 'Montserrat Alternates',sans-serif;
	font-size: 15px;
}

.menu>ul>li>ul{
	background: black;
	position: absolute;
	top: 42px;
	left: 0px;
	display: none;
	width: 700px;
	z-index: 3;
	opacity: 0.8;
}


.menu>ul>li>ul>li>a{
	text-decoration: none;
	color: white;
	font-family: 'Montserrat Alternates',sans-serif;
	font-size: 15px;
}

.menu>ul>li:hover>ul{
	display: block;
}
.menu>ul>li:hover{
	background: white;
	cursor: pointer;
}
.menu>ul>li:hover>a{
	color: black;
}
.menu>ul>li>ul>li{

}
.menu>ul>li>ul>li:hover{
	background: white;
}
.menu>ul>li>ul>li:hover>a{
	color: black;
}

.item .film{
	text-align: left;
    margin-bottom: 45px;
    margin-left: 5px;
    margin-right: 5px;
}

.item .film img{
	margin-bottom: -10px;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    z-index: 2;
    border: 5px solid #fff;
    border-radius: 10px;
}

.title {
	text-align: center;
    margin-bottom: 80px; 
}

.title h2 {
    display: inline-block;
    font-size: 30px;
    padding: 0 15px;
    background: #fff;
    position: relative;
    text-transform: uppercase;
    color: #363636; }

.title hr {
    margin: 0;
    margin-top: -20px;
    border-top: 1px solid #999999; }

.item1 .back-img img{
	max-width: 100%;
	width: 100%;
	margin-left: 0%;
	border: 5px solid #0000CC;
    border-radius: 10px;
}

.name h1{
	margin-top: 5px;
	font-family: 'Montserrat Alternates',sans-serif;
	text-align: center;
	color: #000;
	font-weight: bold;
}

.item1 .img img{
	max-width: 100%;
	width: 15%;
	position: absolute;
	margin-left: 1%;
	margin-top: -22%;
	border: 5px solid #0000CC;
    border-radius: 10px;
}

.info1{
	background: #fff;
}

.info{
	padding: 5px 25px;
}

.info1 .info h5{
	padding: 5px 5px;
	font-family: 'Montserrat Alternates',sans-serif;
	color: #000099;
}

.info1 .info h5 a{
	padding: 5px 0px;
	font-family: 'Montserrat Alternates',sans-serif;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	color: #FF3399;
}

.info1 .info h5 a:hover{
	color: #000099;
}

.play-now{
	background: #cc0000;
	color: #fff;
	padding: 10px 10px;
	margin-right: 20px;
}

.play-now:hover{
	background: #FF3333;
	color: #fff;
}

.review{
	background: #CCCCCC;
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 5px 10px; 
	border: 5px solid #000;
    border-radius: 10px;
}

.item1 .info1 .info .review{
	font-family: 'Montserrat Alternates',sans-serif;
}

.item .listep .svname{
	border-bottom: 3px solid #6a3;
    width: 100%;
    margin-bottom: 5px;
    padding: 0 10px 0 0;
    color: #6fd332;
    font-size: 16px;
    font-weight: 700;
    display: block;
}

.item .frame .listep .tapphim.playing{
	background: #2ab17a;
    border: 1px solid #c8c8c8;
    color: #fff;
}

.item .frame .listep .tapphim{
	color: #999;
    cursor: pointer;
    border: 1px solid #424242;
    border-radius: 3px;
    padding: 5px 10px;
    background: #2b2b2b;
    margin: 2px 4px 2px 2px;
    display: inline-block;
    font-weight: 700;
    font-size: 11px;
}

.item .frame .listep{
	padding: 50px 5px;
	margin-left: 5%;
	margin-right: 5%;
}

.item .frame{
	-webkit-tap-highlight-color: transparent;
color: #000;
font: 14px/1.5 tahoma,arial,sans-serif;
box-sizing: border-box;
margin: 10px 0 0;
opacity: 1;
}

.video{
	width: 90%;
	height: auto;
	margin-left: 5%;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

iframe{
	overflow: hidden;
}

.frame h4{
	font-family: 'Montserrat Alternates',sans-serif;
	font-size: 25px;
	color: white;
	padding: 5px 5px;
	text-align: center;
	font-weight: bold;
}

.footer{
	background-color: #000000;
    color: #fff;
    box-shadow: 0 -7px 40px -7px #fff;
}





