.eplist{
    -webkit-tap-highlight-color: transparent;
    color: #000;
    font: 14px/1.5 tahoma,arial,sans-serif;
    box-sizing: border-box;
}

.listep{
    -webkit-tap-highlight-color: transparent;
    color: #000;
    font: 14px/1.5 tahoma,arial,sans-serif;
    box-sizing: border-box;
    height: auto;
    list-style: none none;
    margin: 8px 0 0;
    padding: 0;
}
.svep{
    -webkit-tap-highlight-color: transparent;
    color: #000;
    font: 14px/1.5 tahoma,arial,sans-serif;
    list-style: none none;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.svname{
    -webkit-tap-highlight-color: transparent;
    font: 14px/1.5 tahoma,arial,sans-serif;
    list-style: none none;
    box-sizing: border-box;
    border-bottom: 3px solid #6a3;
    width: 100%;
    margin-bottom: 5px;
    padding: 0 10px 0 0;
    color: #6fd332;
    font-size: 14px;
    font-weight: 700;
    display: block;
}
.playing{
    -webkit-tap-highlight-color: transparent;
    font: 14px/1.5 tahoma,arial,sans-serif;
    list-style: none none;
    box-sizing: border-box;
    text-decoration: none;
    transition: 300ms;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 2px 4px 2px 2px;
    display: inline-block;
    font-weight: 700;
    font-size: 11px;
    background: #2ab17a;
    border: 1px solid #c8c8c8;
    color: #fff;
}
.tapphim{
    -webkit-tap-highlight-color: transparent;
    font: 14px/1.5 tahoma,arial,sans-serif;
    list-style: none none;
    box-sizing: border-box;
    text-decoration: none;
    transition: 300ms;
    color: #999;
    cursor: pointer;
    border: 1px solid #424242;
    border-radius: 3px;
    padding: 5px 10px;
    background: #2b2b2b;
    margin: 2px 4px 2px 2px;
    display: inline-block;
    font-weight: 700;
    font-size: 11px;
}
.players{
    -webkit-tap-highlight-color: transparent;
    color: #000;
    font: 14px/1.5 tahoma,arial,sans-serif;
    box-sizing: border-box;
    margin: 10px 0 0;
    position: relative;
    opacity: 1;
    height: 450px;
}
.tab-panel-active{
    -webkit-tap-highlight-color: transparent;
    color: #000;
    font: 14px/1.5 tahoma,arial,sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 580px;
    background-color: #3c3c3c;
    display: none;
}